
   
	<header class="header-class">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-xs-12">
						<h3 class="text-center">
							<a href="#" style="text-decoration: none; color: #FFFFFF;">
							Sakshi Vaish
							</a>
							<span> </span>
						</h3>
					</div>
					<div class="col-lg-9 col-md-9 col-xs-12">
							<nav class="text-right header-nav">
								<ul class="list-inline">
									<li><a class="menu-item-link" href="#about"> About </a></li>
									<li><a class="menu-item-link" href="#gallery"> Gallery </a></li>
									<li><a class="menu-item-link" href="#contact"> Contact </a></li>
									<li>
										<a href="https://www.linkedin.com/in/sakshi-vaish-41845b18a" target="_blank">
											<i class="fa fa-linkedin" aria-hidden="true" style="color: red"></i>
										</a>
										&nbsp;
										<a href="mailto:sakshivaish348@gmail.com">
											<i class="fa fa-envelope" aria-hidden="true" style="color: blue"></i>
										</a>
									</li>
								</ul>
							</nav>
					</div>
                </div>
            </div>
	</header>
	<section class="about-section" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<div class="abt-content">
							<h2>
									About Me :
								</h2>
								
								<div class="img-container">
								 <!-- <img src="" class="img-responsive img-circle img-thumbnail"> -->
								</div>
								<p class="intro">
										"I am a talented, and hardworking individual with broad skills and experience in web designing and leading projects.
			
											I am good hand at HTML5, CSS3(SASS), and JavaScript. I am always energetic and eager to learn new skills, I am able to handle multiple tasks on a daily basis. I use a creative approach to problem solve. I have experience working as a part of team and individually."
									</p>
					</div>
				</div>

			</div>

		</div>

	</section>
	<section class="gallery-section" id="gallery">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<h2>
						Gallery :
					</h2>
					<div class="slideshow-container">

							<!-- Full-width images with number and caption text -->
							<div class="mySlides fade" style="display: block">
							  <img src="assets\gallery3.jpg" style="width:100%; height: 340px;">
							  
							</div>
						  
							<div class="mySlides fade">
							  <img src="assets\gallery4.jpg" style="width:100%; height: 340px;">
							  
							</div>
						  
							<div class="mySlides fade">
							<img src="assets\gallery5.jpg" style="width:100%; height: 340px;">
							  
							</div>
						  
							<!-- Next and previous buttons -->
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>
						  </div>
						  <br>
						  
						  <!-- The dots/circles -->
						  <div style="text-align:center; margin-right: 150px;">
							<span class="dot active" onclick="currentSlide(1)"></span> 
							<span class="dot" onclick="currentSlide(2)"></span> 
							<span class="dot" onclick="currentSlide(3)"></span> 
						  </div>
					
				</div>
		    </div>
		</div>
	</section>
	<section class="contact-section" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<h2>
						Contact Me :
					</h2>
					
					<div class="address-section">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-xs-12">
						
							<h3>
									<i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;
								Address :
							</h3>
							<p>
								Vinayaka Niwas 5th Phase JP Nagar
								<br>
								Bangalore,Karnataka
							</p>
							   </div>
							   <div class="col-lg-6 col-md-6 col-xs-12">
								   <h3>
									<i class="fa fa-phone-square" aria-hidden="true"></i>
									&nbsp;
									
										Phone no :
									</h3>
									<a href="">+91-8896305933</a>

							   </div>
					        </div>
						
				       </div>

			        </div>

		       </div>

			</div>

		</div>

	</section>
	<footer class="footer-section fitting">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<ul class="list-inline text-center">
						<li class="style">
								<a href="">
										<i class="fa fa-linkedin" aria-hidden="true" style="font-size: 20px; color: red;"></i>
								</a>
								&nbsp;
							<a href="">
									<i class="fa fa-envelope" aria-hidden="true" style="font-size: 20px; color: blue;"></i>
							</a>
						</li>
					</ul>

				</div>

			</div>

		</div>


	</footer>
<router-outlet></router-outlet>